@font-face {
    font-family: MyFont;
    src: url(font/Norse-Bold.otf);
}

body{
    margin: 0px;
    height: 100vh;
    
    font-family: sans-serif;
}

#leftHalf{
    display:flex;
    height: 100vh;
    float: left;
}

#plantByText{
    color: white;
    position: absolute;
    align-self:flex-end;

    padding: 0% 7.45rem;
}

a{
    color: white;
}

#odinImgTxt{
    position: absolute;

    color: white;
    font-family:MyFont;
    font-size: 6.42rem;

    display: flex;
    align-items: center;
    margin-top: 25vh;
    background-color: rgb(0,0,0, 0.5);
    padding: 0.4rem 7rem;
}

#odinsFace{
    height: 1.3em;

}
#odinText{
    margin:0px;
}

#plantPhoto{
    width: 30rem;
}

/*Up there is left side*/
/*Down from here is right side*/

#rightHalf{
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

#randomText{
    display: flex;
    padding-left: 3rem;
    background-color: #f4f4f4;
    height: 35vh;
    font-size: 1.2rem;
    justify-content: end;
    flex-direction: column;
    font-weight: bold;
    z-index: 10;
}
/*the actual text under this line from randomText*/
#rttxt{
    width: 40rem;
    margin-bottom: 0;
}
#rttxt2{
    margin-top: 0;
}

#lddtxt{
    font-size: 1.2rem;
    font-weight: bold;
}
#inputInfo{
    padding-left: 3rem;
    height: 33vh;
    box-shadow: 0px -11px 30px 0px;
    z-index: 5;
}



input{
    border: solid #E5E7EB 2px;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-right: 3rem;
    height: 1.3rem;
    width: 14rem;
}

.iNames{
    margin: 0px;
    font-size: 0.7rem;
}

#leftInputs{
    display: flex;
    flex-direction: column;
}
#rightInputs{
    display: flex;
    flex-direction: column;
}

#allInputs{
    display: flex;
    flex-direction: row;
}
/*under this line is create account button*/

#crAccBtn{
    background-color:#596D48 ;
    color: white;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    border:solid #596D48;
    border-radius: 5px;
    font-weight: bold;
}

#loginLink{
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}
#createAccount{
    padding-left: 3rem;
    background-color: #f4f4f4;
    height: 33vh;
    z-index: 1;
}
#accDiv{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    align-items: center;
}